<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <div id="title">
            Edit <%=pokemon.name%>
        </div>
        <a href="/index">
            <div id="create-btn">Home</div>
        </a>
    </header>
    <div class="container">

        <form action="/index/<%=index%>?_method=PUT" method="POST">
            <!-- loops through keys and values of pokemon -->
            <% for (let [key, value] of Object.entries(pokemon)) { %>

                <!-- if value is object -->
                <% if (typeof value===`object`) { %>

                    <!-- prints key -->
                    <div class="catagory-btn">
                        <%=key%>
                    </div>


                    <!-- looks for object in stats-->
                    <% for(let stat in value) { %>

                        <!-- start of looping through stats, moves, damages, misc  -->
                        <%if(typeof value[stat]===`object`) {%>

                            <div class="catagory2-btn">
                                <%=stat%>
                            </div>

                            <!-- prints values of value[stat] object -->
                            <%for(let obj in value[stat]) {%>

                                <!-- check if any value in value[stat] is object -->
                                <%if(typeof value[stat][obj]===`object`) {%>

                                    <!-- loop through value[stat][obj] -->
                                    <%for(let objValue in value[stat][obj]) {%>

                                        <!-- loops through last nested objects -->
                                        <div class="input">
                                            <%=objValue%> <input class="inputForm" type="text" name="objValue"
                                                    value="<%=value[stat][obj][objValue]%>" /><br />
                                        </div>
                                        <%}%>
                                            <% } else { %>
                                                <div class="input">
                                                    <%=obj%><input class="inputForm" type="text" name="obj"
                                                            value="<%=value[stat][obj]%>" /><br />
                                                </div>
                                                <%}%>
                                                    <% } %>
                                                        <%} else { %>
                                                            <div class="input">
                                                                <%=stat%> <input class="inputForm" type="text"
                                                                        name="stat" value="<%=value[stat]%>" /><br />
                                                            </div>
                                                            <% }%>
                                                                <% } %>
                                                                    <%} else {%>
                                                                        <div class="input">
                                                                            <%=key%> <input class="inputForm"
                                                                                    type="text" name="<%=key%>"
                                                                                    value="<%=value%>" /><br />
                                                                        </div>
                                                                        <% }%>
                                                                            <% } %>
                                                                                <input id="submit-btn" type="submit"
                                                                                    name="" value="Submit Changes" />

        </form>
    </div>




</body>

</html>