<!DOCTYPE html>
<html lang="en">

<%- include(`./partials/head`) %>

    <body>
        <div id="showContainer ">
            <header>
                <div id="title">
                    <%=pokemon.name%>
                </div>

            </header>

            <div id="showCard">
                <div id="showImg"> <img src="<%=pokemon.img%>"></div>
                <form action="/index/<%=index%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE">
                </form>
                <a href="/index/<%=index%>/edit">Edit</a>
                </a>
            </div>

        </div>
    </body>

</html>